The pandas-datareader module provides a convenient way to access financial data from various sources such as Yahoo Finance and Google Finance. The DataReader function can be used to retrieve historical stock prices for any symbol within the specified date range. However, there may be some issues due to the different modules and their compatibility. At this moment (May 2023) this algorithm still works without problems. Hit me up if this is not your case.

https://pydata.github.io/pandas-datareader/devel/readers/index.html

https://pypi.org/project/yfinance/

In [ ]:
#import pandas_datareader.data as web
import pandas as pd
import datetime as dt
import numpy as np
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

Dates from 1/01/2017 to 31/12/2022

In [ ]:
s1 = dt.date( 2017, 1, 1)
e1 = dt.date( 2022, 12, 31)

Data from the previous notebook: 1. SP500 Tickers

In [ ]:
datos = np.genfromtxt('/content/tickers.txt', dtype = str, skip_header = 1, delimiter = ',')

In [ ]:
datos

array([['ATVI', 'Activision Blizzard', 'Communication Services'],
       ['GOOGL', 'Alphabet Inc- (Class A)', 'Communication Services'],
       ['GOOG', 'Alphabet Inc- (Class C)', 'Communication Services'],
       ...,
       ['SO', 'Southern Company', 'Utilities'],
       ['WEC', 'WEC Energy Group', 'Utilities'],
       ['XEL', 'Xcel Energy', 'Utilities']], dtype='<U36')

Stock values are shown as the closing price and the adjusted closing price. The closing price is the raw price, which is simply the cash value of the last traded price before the market closes. The adjusted closing price takes into account anything that might affect the stock price after the market closes.

A stock's price is usually affected by supply and demand from market participants. However, some corporate actions, such as stock splits, dividends, and rights offerings, affect a stock's price. Adjustments allow investors to obtain an accurate record of the stock's performance. Investors should understand how corporate actions are reflected in a stock's adjusted closing price. It is especially useful when examining historical returns because it gives analysts an accurate representation of the value of the company's stock.

In [ ]:
data = pdr.get_data_yahoo( list(datos[:,0]), start = s1, end = e1)['Adj Close'] ## <-- Adjusted Close

[*********************100%***********************]  502 of 502 completed

In [ ]:
data.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACGL,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,44.210854,44.741238,158.060913,27.095850,46.856438,74.368439,34.819309,28.629999,105.362434,103.480003,...,80.849014,33.642067,66.233269,55.251984,45.868374,56.340511,95.412949,86.250000,36.360283,51.360584
2017-01-04,44.790955,45.127754,159.358002,27.065521,47.517124,76.213921,35.095722,28.833332,105.615738,104.139999,...,83.455849,33.791142,65.504532,55.704407,46.552013,56.545506,96.290176,87.029999,36.882374,51.858959
2017-01-05,44.258396,44.345032,159.246826,27.203157,47.877510,75.331688,35.398888,28.540001,104.032501,105.910004,...,84.528152,33.791142,64.528061,54.978649,46.127056,56.732689,96.908829,84.750000,36.284512,51.686447
2017-01-06,45.637299,44.654259,157.162216,27.506430,47.892517,76.339951,36.361874,28.823334,105.217690,108.300003,...,85.443336,33.890518,64.491638,54.940945,45.803726,57.419003,96.918068,85.959999,36.520290,51.849373
2017-01-09,45.779968,45.494976,157.069534,27.758369,48.207855,76.952110,36.326218,28.406668,104.041550,108.570000,...,85.739151,33.377033,63.427692,55.110611,45.609703,57.579441,98.801773,85.970001,36.124508,51.705624

Save the data

In [ ]:
#data.to_excel("sp500-1510days.xlsx")

In [ ]:
#data.to_csv("sp500-1510days.txt")